html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container_edit--page--1240{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.container_edit--page--1240{
    max-width: 696px;
    width: 100%;
    margin: 0 auto;
}

.container_full_width{
    max-width: 100% ;
    width: 100%;
    margin: 0 auto;
}