<footer class="main_footer">
        <div class="container">

                <section class="section_get_inf" id="">
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="box__logo--footer">
                                                <img src="images/logo_footer.png" alt="logo footer">
                                        </div>
                                </div>
                                <div class="col-md-8">
                                        <div class="box__content">
                                                <h1>Subscribe Our Newsletters</h1>
                                                <form action="#" class="form_get_inf">
                                                        <div class="row">
                                                                <div class="col-md-8">
                                                                        <div class="box_input">
                                                                                <input type="text" placeholder="Enter Your Email">
                                                                        </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                        <div class="box_submit">
                                                                                <input type="submit" value="Subscribe Now">
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </section>

                <section class="box_footer">
                        <div class="row">
                                <div class="col-md-3">
                                        <div class="box-content">
                                                <h1>Chính sách</h1>
                                                <a href=""><p class="cs_text">chính sách bảo hành</p></a>
                                                <a href=""><p class="cs_text">chính sách  đổi trả</p></a>
                                                <a href=""><p class="cs_text">ưu đãi</p></a>
                                                <a href=""><p class="cs_text">phương thức thanh toán</p></a>
                                                <a href=""><p class="cs_text">phương thức vận chuyển</p></a>
                                        </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="box-content">
                                                <h1>Sản Phẩm</h1>
                                                <a href=""><p class="cs_text">chiếu sáng thông minh</p></a>
                                                <a href=""><p class="cs_text">rèm cửa tự động</p></a>
                                                <a href=""><p class="cs_text">khóa thông minh</p></a>
                                                <a href=""><p class="cs_text">alexa</p></a>
                                                <a href=""><p class="cs_text">an ninh tự động</p></a>
                                        </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="box-content">
                                                <h1>Liên hệ với chúng tôi</h1>
                                                <a href=""><p class="cs_text">smart Home - Ngôi nhà của bạn là trách nhiệm của chúng tôi</p></a>
                                                <a href="">
                                                        <div class="box_item_inf--footer">
                                                                <div class="box_icon--footer">
                                                                        <img src="../../images/icon/icon_footer--1.svg" alt="">
                                                                </div>
                                                                <p class="cs_text">+012 (345) 6789</p>
                                                        </div>
                                                </a>
                                                <a href="">
                                                        <div class="box_item_inf--footer">
                                                                <div class="box_icon--footer">
                                                                        <img src="../../images/icon/icon_footer--2.svg" alt="">
                                                                </div>
                                                                <p class="cs_text">tauhai@vku.udn.vn</p>
                                                        </div>
                                                </a>

                                                <a href="">
                                                        <div class="box_item_inf--footer">
                                                                <div class="box_icon--footer">
                                                                        <img src="../../images/icon/icon_footer--3.svg" alt="">
                                                                </div>
                                                                <p class="cs_text">470 - Nam kì khởi nghĩa - ngũ hành sơn - đà nãng</p>
                                                        </div>
                                                </a>
                                                
                                        </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="box-content">
                                                <h1>Follow Fanpage</h1>
                                                <div class="box--follow">

                                                </div>
                                        </div>
                                </div>
                        </div>
                </section>

                <section class="box--last">
                        <div class="img_last">
                                <img src="images/icon/icon--last--footer.png" alt="">
                        </div>
                        <p>Copy@ smartHome. 2021</p>
                        <p>All Right Reserved Design By VanTan</p>
                </section>

        </div>
</footer>