<header class="main_header">
  <div class="bg_nav">
    <img src="images/bg/Navigation.png" alt="bg của nab">
  </div>
  <div class="container">
    <div class="row row_edit_header">
      <div class="item_logo">
        <img src="images/logo.png" alt="">
      </div>
      <ul class="box_menu_ul">
        <li class="box_menu_li"></li>
        <li class="box_menu_li">
          <a href="#" class="menu_link">Trang chủ</a>
        </li>
        <li class="box_menu_li active">
          <a href="#" class="menu_link">Giới thiệu</a>
        </li>
        <li class="box_menu_li">
          <a href="#" class="menu_link">Tin tức</a>
        </li>
        <li class="box_menu_li">
          <a href="#" class="menu_link">Sản phẩm</a>
        </li>
        <li class="box_menu_li">
          <a href="#" class="menu_link">Lắp đặt</a>
        </li>
        <li class="box_menu_li">
          <a href="#" class="menu_link">Liên hệ</a>
        </li>
      </ul>

      <ul class="box_item_user_ul">
        <li class="item_user_li">
          <a href="">
            <img src="images/icon/cart-sharp.png" alt="" class="icon_cart">
          </a>
        </li>
        <li class="item_user_li item_user_li--hover">
          <a href="">
            <img src="images/icon/person-circle.png" alt="" class="icon_cart">
          </a>
          <ul class="items_inf_user--ul">
            <li class="item_inf_user--li">
              <a href="#">Đăng nhập</a>
            </li>
            <li class="item_inf_user--li">
              <a href="#">Đăng kí</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</header>
