<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Giới Thiệu"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content--index">

    <section class="section_1">
      <div class="box_content_main">
        <div class="container_edit--page--1240">
          <p class="title">SMART COMPACT PROJECTOR</p>
          <h2 class="main_title">RẠP CHIẾU PHIM THU NHỎ BÊN CẠNH BẠN</h2>
          <p class="description">Độ phân giải 1080P | Buồng âm thanh tích hợp lớn</p>
          <a href="#" class="btn_xem-ngay">XEM NGAY</a>
        </div>
      </div>
    </section>

    <section class="section_2">
      <div class="container_edit--page--1240">
        <div class="box_main_st_2">

          <div class="box_heading">
            <p class="title">SẢN PHẨM NỔI BẬT</p>
            <p class="description">Ưu đãi tốt nhất của chúng tôi về các sản phẩm tốt nhất của chúng tôi với các khoản tiết kiệm cho kỳ nghỉ trong cả mùa</p>
          </div>

          <div class="box_content">
            <section class="item_content-1">
              <div class="row">
                <div class="col-sm-6">
                  <div class="box_bg_1">
                    <p class="logo">TRỌN GÓI SẢN PHẨM</p>
                    <p class="slogan">Trợ giúp cho ngôi nhà của bạn</br>Tất cả vì ngôi nhà của bạn</p>
                    <p class="box_price">
                      <span class="text">Giá chỉ từ : </span> </br>
                      <span class="price">200.000.000đ</span>
                    </p>
                    <a href="#" class="btn_dangKi">ĐĂNG KÍ NGAY</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="box_show_slide_products">
                    
                    <!-- product 1 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-1.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 2 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-2.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 3 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-6.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 4 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-7.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 5 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-8.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 6 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-9.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                  </div>                  
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </section>

  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>