<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Giới Thiệu"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
  <link rel="stylesheet" href="../../styles/pages/_homepage.scss">
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content">
    <section class="section_content--1">
      <div class="box-part">
        <div class="part--1"></div>
        <div class="part--2"></div>
        <div class="part--3"></div>
        <div class="part--4"></div> 
      </div>
      <div class="container-edit">
        <div class="box_main_slide">
          <!-- slide 1 -->
          <div class="box__slide box__slide--1">
            <div class="container_part__edit">
              <h1>
                CÁC THÔNG MINH VỀ CHÚNG TÔI 
              </h1>
              <p>
                Nơi cung cấp các sản phẩm giành riêng cho ngôi nhà của bạn
              </p>
            </div>
          
          </div>
  
          <!-- slide 2 -->
          <div class="box__slide box__slide--2">
            <div class="container_part__edit">
              <h1>
                CÁC THÔNG MINH VỀ CHÚNG TÔI 
              </h1>
              <p>
                Nơi cung cấp các sản phẩm giành riêng cho ngôi nhà của bạn
              </p>
            </div>
          
          </div>
  
          <!-- slide 3 -->
          <div class="box__slide box__slide--3">
            <div class="container_part__edit">
              <h1>
                CÁC THÔNG MINH VỀ CHÚNG TÔI 
              </h1>
              <p>
                Nơi cung cấp các sản phẩm giành riêng cho ngôi nhà của bạn
              </p>
            </div>
          
          </div>
  
          <!-- slide 4 -->
          <div class="box__slide box__slide--4">
            <div class="container_part__edit">
              <h1>
                CÁC THÔNG MINH VỀ CHÚNG TÔI 
              </h1>
              <p>
                Nơi cung cấp các sản phẩm giành riêng cho ngôi nhà của bạn
              </p>
            </div>
          
          </div>
        </div>
  
      </div>
    </section>

    <section class="section_content--2">
      <div class="container">
        <div class="box_content--2">
          <div class="row">
            <div class="col">
              <div class="box-img">
                <img src="../../images/bg/bg_content_2-1.png" alt="">
              </div>
            </div>
            <div class="col">
              <div class="box_text_content">
                <p>
                  Hiểu theo cách đơn giản nhất, Smart Home là ngôi nhà 
                  mà ở đó mọi thiết bị liên quan đến điện năng đều được 
                  điều khiển trực tiếp bằng bản công tắc đồng thời có thể 
                  điều khiển từ xa qua những nút chạm hiển thị trên màn hình smart 
                  phone, tablet, máy tính cá nhân hoặc trực tiếp bằng giọng nói thông 
                  qua thiết bị giao tiếp
                </p>
                <p>
                  Theo nghĩa tương đối đầy đủ Smart Home là ngôi nhà được tích hợp những
                   công nghệ tân tiến về kỹ thuật điện-điện tử-tin học để quản lý & điều
                    khiển các thiết bị điện theo mong muốn của chủ nhà mọi lúc, mọi nơi
                     theo những chương trình được cài đặt theo ngữ cảnh, lịch trình, cảm
                      biến tự động.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section_content--3" >
      <div class="container">

        <div class="box__tilte">
          <h1>
            CÁC SẢN PHẨM CỦA CHÚNG TÔI !
          </h1>
        </div>

        <!-- sản phẩm 1 -->
        <section class="san_pham san_pham--1">
          <div class="row">
            <div class="col-md-7">
              <div class="box-text--inf">
                <h1>
                  Chiếu Sáng Thông Minh
                </h1>
                <p>
                  Thay vì việc đến từng công tắc đèn để bật/tắt đèn
                   như trước đây, với giải pháp chiếu sáng thông minh 
                   smarthome, chủ nhà hoàn toàn có thể điều khiển bóng 
                   đèn bằng giọng nói, hoặc chỉ với một cú chạm nhẹ vào 
                   màn hình smartphone. Đặc biệt, hệ thống cảm biến thông
                    minh sẽ cho phép tự động kích hoạt hệ thống chiếu sáng
                     khi có người cần sử dụng mà không cần thêm lệnh điều 
                     khiển nào.
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="box_img">
                <img src="images/bg/bg_sp--1.png" alt="">
              </div>
            </div>
          </div>
        </section>

        <!-- sản phẩm 2 -->
        <section class="san_pham san_pham--2">
          <div class="row">
            <div class="col-md-5">
              <div class="box_img">
                <img src="images/bg/bg_sp--2.png" alt="">
              </div>
            </div>

            <div class="col-md-7">
              <div class="box-text--inf">
                <h1>
                  Rèm Cửa Tự Động
                </h1>
                <p>
                  Hệ thống rèm cửa sẽ tự động mở/đóng theo khung
                   giờ cài đặt. Gia chủ cũng có thể điều khiển rèm bằng 
                   giọng nói hoặc điều khiển từ xa mọi lúc mọi nơi trên
                    app thông qua điện thoại.
                </p>
              </div>
            </div>
            
          </div>
        </section>

        <!-- sản phẩm 3 -->
        <section class="san_pham san_pham--3">
          <div class="row">
            <div class="col-md-7">
              <div class="box-text--inf">
                <h1>
                  Khóa Cửa Thông Minh
                </h1>
                <p>
                  Khóa cửa sử dụng nhiều phương thức điều khiển:
                   Vân tay, mã số, thẻ từ, ứng dụng, khóa cơ. Tình
                    trạng đóng mở sẽ được thông báo qua ứng dụng về 
                    điện thoại. Có khả năng cài đặt mã số tạm thời từ 
                    xa thông qua smart phone.
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="box_img">
                <img src="images/bg/bg_sp--3.png" alt="">
              </div>
            </div>
          </div>
        </section>

        <!-- sản phẩm 4 -->
        <section class="san_pham san_pham--2">
          <div class="row">
            <div class="col-md-5">
              <div class="box_img">
                <img src="images/bg/bg_sp--4.png" alt="">
              </div>
            </div>

            <div class="col-md-7">
              <div class="box-text--inf">
                <h1>
                  Bật/tắt Bình nóng lạnh, đèn sưởi nhà tắm
                </h1>
                <p>
                  Tự động bật/tắt bình nóng lạnh theo khung giờ
                   hoặc chỉ cần một thao tác chạm nhẹ trên smartphone
                    gia chủ có thể điều khiển thiết bị dù đang ở bất 
                    cứ đâu. Khi gia chủ đang ở nhà, họ cũng có thể điều
                     khiển bật/tắt bình nóng lạnh bằng giọng nói.
                </p>
              </div>
            </div>
            
          </div>
        </section>

        <!-- sản phẩm 5 -->
        <section class="san_pham san_pham--3">
          <div class="row">
            <div class="col-md-7">
              <div class="box-text--inf">
                <h1>
                  Điều Khiển Bằng Giọng Nói
                </h1>
                <p>
                  Điều khiển bằng giọng nói phép điều khiển các
                   thiết bị bằng giọng nói thông qua thiết bị 
                   giao tiếp thông minh tại nhà hoặc thông qua 
                   trợ lý ảo trên smartphone
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="box_img">
                <img src="images/bg/bg_sp--5.png" alt="">
              </div>
            </div>
          </div>
        </section>

        <!-- phần trang -->
        <ul class="phan_trang--ul">
          <a href="#"><li class="phan-tran--li">1</li></a>
          <a href="#"><li class="phan-tran--li">2</li></a>
          <a href="#"><li class="phan-tran--li">2</li></a>
          <a href="#"><li class="phan-tran--li">4</li></a>
          <a href="#"><li class="phan-tran--li">></li></a>
        </ul>
      </div>
    </section>
    
    <!-- sứ mệnh -->
    <section class="section_content--4">
      <div class="container">

        <div class="box__tilte">
          <h1>
            MỤC TIÊU – SỨ MỆNH
          </h1>
        </div>

        <div class="box--text">
          <p>
            Nhóm chúng tôi đặt mục tiêu trở thành một trong những nhà cung 
            cấp dịch vụ smart home hàng đầu tại Việt Nam.
          </p>
          <p>
            Sứ mệnh của chúng tôi là mang giải pháp nhà thông minh đến 
            với các gia đình Việt thuộc nhiều tầng lớp, để ai cũng có
             thể tiếp cận & trải nghiệm cuộc sống hiện đại, để smarthome 
             không còn chỉ là sản phẩm xa xỉ dành riêng cho giới nhà
              giàu, mà nó sẽ là 1 sản phẩm mang tiện ích thiết thực 
              hướng tới mọi gia đình trong xã hội.
          </p>
        </div>

      </div>
    </section>

  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>