<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Giới Thiệu"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content--index">

    <section class="section_1">
      <div class="box_main_slide">
        <!-- slide 1 -->
        <div class="box_content_main box_content_main-1">
          <div class="container_edit--page--1240">
            <div class="box_main">
              <p class="title">SMART COMPACT PROJECTOR</p>
              <h2 class="main_title">RẠP CHIẾU PHIM THU NHỎ BÊN CẠNH BẠN</h2>
              <p class="description">Độ phân giải 1080P | Buồng âm thanh tích hợp lớn</p>
              <a href="#" class="btn_xem-ngay">XEM NGAY</a>
            </div>
          </div>
        </div>

        <!-- slide 2 -->
        <div class="box_content_main box_content_main-2">
          <div class="container_edit--page--1240">
            <div class="box_main box_main_2">
              <p class="title">SMART AIR PROJECTOR</p>
              <h2 class="main_title">Hệ thống nhiệt độ - độ ẩm Không khí trong lành</h2>
              <p class="description">Nhiệt độ và độ ẩm được đảm bảo Nguồn không khí trong sạch nhất</p>
              <a href="#" class="btn_xem-ngay">XEM NGAY</a>
            </div>
          </div>
        </div>

        <!-- slide 3 -->
        <div class="box_content_main box_content_main-3">
          <div class="container_edit--page--1240">
            <div class="box_main">
              <p class="title title-3">SMART COMPACT PROJECTOR</p>
              <h2 class="main_title main_title-3">Điều Khiển Bằng Giọng Nói <br> Tiện lợi - Nhanh Chóng</h2>
              <p class="description description-3">Sự dụng trí tuệ AI vào ngôi nhà của bạn</p>
              <a href="#" class="btn_xem-ngay btn_xem-ngay-3">XEM NGAY</a>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <section class="section_2">
      <div class="container_edit--page--1240">
        <div class="box_main_st_2">

          <div class="box_heading">
            <p class="title">SẢN PHẨM NỔI BẬT</p>
            <p class="description">Ưu đãi tốt nhất của chúng tôi về các sản phẩm tốt nhất của chúng tôi với các khoản tiết kiệm cho kỳ nghỉ trong cả mùa</p>
          </div>

          <div class="box_content">
            <section class="item_content-1">
              <div class="row">
                <div class="col-sm-6">
                  <div class="box_bg_1">
                    <p class="logo">TRỌN GÓI SẢN PHẨM</p>
                    <p class="slogan">Trợ giúp cho ngôi nhà của bạn</br>Tất cả vì ngôi nhà của bạn</p>
                    <p class="box_price">
                      <span class="text">Giá chỉ từ : </span> </br>
                      <span class="price">200.000.000đ</span>
                    </p>
                    <a href="#" class="btn_dangKi">ĐĂNG KÍ NGAY</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="box_show_slide_products">
                    
                    <!-- product 1 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-1.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 2 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-2.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 3 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-6.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 4 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-7.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 5 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-8.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống cảm biến</p>
                        <p class="name_product">Cảm biến nhiệt độ, độ ẩm</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.599.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                    <!-- product 6 -->
                    <div class="box_main_product">
                      <div class="box_img_product">
                        <img src="images/sanPham/bg_index-sp-st2-9.png" class="img_product" alt="">
                      </div>
                      <div class="box_content">
                        <p class="Category">Hệ thống điều khiển</p>
                        <p class="name_product">Bộ điều khiển hồng ngoại</p>
                        <div class="box_evaluate">
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2"></div>
                          </div>
                          <div class="start">
                            <div class="start-1"></div>                            
                            <div class="start-2 hard_start"></div>
                          </div>
                        </div>
                        <p class="price">Giá:  3.199.000đ</p>
                        <a href="#" class="btn_view">Xem ngay</a>
                      </div>
                    </div>

                  </div>                  
                </div>
              </div>
            </section>
          </div>

          <div class="box_catagios">
            <div class="row">
              <div class="col-md-4">
                <div class="box_content_category box_content_category--1">
                  <div class="box_text_inf">
                    <p class="category">Bộ Phận Cảm Biến</p>
                    <p class="category_slogan">Đồng bộ hóa <br> căn nhà của bạn</p>
                    <p class="btn_buy">
                      <span class="text">Mua ngay</span>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14 icon_arrow_right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box_content_category box_content_category--2">
                  <div class="box_text_inf">
                    <p class="category">Bộ Phận Điều Khiển</p>
                    <p class="category_slogan">Vận hành tự động <br> bằng giọng nói</p>
                    <p class="btn_buy">
                      <span class="text">Mua ngay</span>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14 icon_arrow_right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box_content_category box_content_category--3">
                  <div class="box_text_inf">
                    <p class="category">Bộ Phận Bảo Vệ</p>
                    <p class="category_slogan">Bảo vệ an ninh <br> cho ngôi nhà</p>
                    <p class="btn_buy">
                      <span class="text">Mua ngay</span>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14 icon_arrow_right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section_3">
      <section class="box_main_service">
        <div class="container_edit--page--1240">

          <div class="box_heading">
            <p>DỊCH VỤ LẮP ĐẶT TẠI NHÀ</p>
          </div>

          <div class="box_content_main_service">
            <div class="row">
              <div class="col-md-4">
                <div class="box_service">
                  <div class="box_img">
                    <img src="images/icon/icon_service_1.png" alt="">
                  </div>
                  <h2 class="title_service">LÊN KẾ HOẠCH</h2>
                  <p class="text_service">Hãy liệt kệ những mong muốn về một căn nhà thông minh của bạn,
                     chúng tôi sẽ liên hệ và tư vấn một cách chi tiết nhất</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box_service">
                  <div class="box_img">
                    <img src="images/icon/icon_service_2.png" alt="">
                  </div>
                  <h2 class="title_service">THẨM ĐỊNH</h2>
                  <p class="text_service">Sau đó, hai bên cùng thống nhất thời gian, 
                    các thiết bị cần lắp đặt và ký hợp đồng. Mọi thứ đều được rõ ràng và cụ thể.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box_service">
                  <div class="box_img">
                    <img src="images/icon/icon_service_1.png" alt="">
                  </div>
                  <h2 class="title_service">THỰC THI</h2>
                  <p class="text_service">Hãy liệt kệ những mong muốn về một căn nhà thông minh của bạn,
                     chúng tôi sẽ liên hệ và tư vấn một cách chi tiết nhất</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </section>
      <section class="box_parameter">
        <div class="container_edit--page--1240">
          <div class="box_content_parameter">
            <div class="row">
              <div class="col-md-3">
                <div class="box_main_content">
                  <div class="box_img">
                    <img src="images/icon/bar-chart.png" alt="">
                  </div>
                  <p class="number_parameters number_parameters--1">3012</p>
                  <p class="text_parameters">Đơn Hàng</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box_main_content">
                  <div class="box_img">
                    <img src="images/icon/sketch.png" alt="">
                  </div>
                  <p class="number_parameters number_parameters--2">3000</p>
                  <p class="text_parameters">Khách hàng hài lòng</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box_main_content">
                  <div class="box_img">
                    <img src="images/icon/goal.png" alt="">
                  </div>
                  <p class="number_parameters number_parameters--3">340</p>
                  <p class="text_parameters">Dự án thành công</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box_main_content">
                  <div class="box_img">
                    <img src="images/icon/networking.png" alt="">
                  </div>
                  <p class="number_parameters number_parameters--4">769</p>
                  <p class="text_parameters">Liên kết các doanh nghiệp</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="section_4">
      <div class="container_edit--page--1240">
        <div class="box_main_content">

          <div class="box_main_item">
            <div class="box_grid">
              
              <!-- item 1 -->
              <div class="item_grid ">
                <div class="item_main">
                  <div class="box_circle"></div>
                  <div class="box_icon">
                    <img class="img_banh_rang" src="images/icon/tinhNang_1.svg" alt="">
                  </div>
                  <div class="box_main_text">
                    <p class="title">Đội ngũ</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                      sed do eiusmod tempor incididunt dolore magna aliqua</p>
                  </div>
                </div>
              </div>

              <!-- item 2 -->
              <div class="item_grid ">
                <div class="item_main">
                <div class="box_circle"></div>
                <div class="box_icon">
                  <img src="images/icon/tinhNang_2.svg" alt="">
                </div>
                <div class="box_main_text">
                  <p class="title">Bảo Dưỡng</p>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt dolore magna aliqua</p>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box_choose_category">
            <div class="box_grid_new">
              <div class="item_grid_new item_grid_new--1">
                <div class="box_main_bg_img">
                  <img src="images/bg/bg_choose_categary.png" alt="">
                </div>
              </div>
              <div class="item_grid_new item_grid_new--2">
                <div class="box_main_content">
                  
                </div>
              </div>
            </div>    
          </div>

        </div>
      </div>
    </section>

  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>