<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Giới Thiệu"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content--index">
    <section class="section_1">
      <div class="container_edit--page--1240">
        <div class="box_content_main">
          <p class="title">SMART COMPACT PROJECTOR</p>
          <h2>RẠP CHIẾU PHIM THU NHỎ BÊN CẠNH BẠN</h2>
          <p class="description">Độ phân giải 1080P | Buồng âm thanh tích hợp lớn</p>
          <a href="#" class="btn_xem-ngay">XEM NGAY</a>
        </div>
      </div>
    </section>
  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>