<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Nhà thông minh dần phổ biến trong các gia đình Việt"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content--postMain">
      <div class="container_edit--page--1240">
          <div class="row">
              <div class="col-md-8">
                  <div class="box_left">

                    <!-- đường dẫn vào trang -->
                    <ul class="list_path">
                          <li class="item_path">
                              <a href="#">Tin tức</a>
                          </li>
                          <li class="item_path">
                              <a href="#">Blog</a>
                          </li>
                    </ul>

                    <!-- bài viết chính -->
                    <div class="box_main_post">
                        <div class="box_title_main">
                            <p class="title_main_post">Nhà thông minh dần phổ biến trong các gia đình Việt</p>
                            <p class="author">POSTED ON 8 THÁNG TƯ, 2020 </p>
                        </div>
                        <div class="box_main_content">
                            <img class="img_post" src="images/bg/img_posts_news.png" alt="">
                            <p class="text_post">
                                Google hiện tại đã ra mắt 4 thiết bị loa thông minh Google Home có thiết kế khác nhau: Google Home, Google Home Mini, Google Home Max và mới nhất là Google Nest Mini . Sự khác biệt giữa những loại này là gì? Làm sao để lựa chọn loại phù hợp với nhu cầu của bạn? Hãy tham khảo bài viết so sánh này trên BK smarthome.
                            </p>
                            <p class="text_post">
                                Nếu bạn đang tìm kiếm một chiếc loa thông minh, những thiết bị đến từ Google là một trong những lựa chọn hàng đầu bên cạnh Amazon Echo.
                            </p>
                            <p class="text_post">
                                Tương tự những chiếc loa thông minh Amazon Echo, Google Home cũng có rất nhiều mẫu mã với kích thước khác nhau. Tất cả chúng đều tích hợp sẵn trợ lý ảo Google Assistant, cho phép bạn thực hiện nhiều việc bằng giọng nói. Mỗi loại có thiết kế và thông số kỹ thuật khác nhau để phù hợp với những vị trí nhất định trong căn nhà của bạn.
                            </p>
                            
                            <!-- phần 1  -->
                            <p class="title_description">
                                1. Google Home Mini
                            </p>
                            <img class="img_post" src="images/bg/bg_post_main_1.png" alt="">
                            <p class="text_post">
                                Giá: Khoảng 39$ (có thể khác tùy đợt giảm giá) <br>
                                Kích thước: 42 x 98mm, 173g<br>
                                Kết nối: 802.11b/g/n/ac (2.4GHz/5GHz), Bluetooth, Chromecast and Chromecast Audio<br>
                                Audio: 40mm speaker driver<br>
                                Định dạng âm thanh: HE-AAC, LC-AAC+, MP3, FLAC, WAV, Vorbis<br>
                                Google Assistant: tất nhiên rồi (Always-on/always-listening/voice-activated)<br>
                            </p>
                            <p class="text_post">
                                Google Home Mini, giống như tên của nó, là thiết bị nhỏ nhất và cũng là thiết bị có giá “mềm” nhất trong số các dòng loa thông minh của Google. Tương tự như Amazon Echo Dot, thiết bị nhỏ nhỏ này có nhiều màu khác nhau, bao gồm: đen, xám, đỏ cam và xanh ngọc. Nhưng khác với Google Home, Google Home Mini không thể thay thế lớp vỏ ngoài được.
                            </p>
                            <p class="text_post">
                                Nhờ kích thước nhỏ xinh của mình, Home Mini có thể đặt ở gần như mọi chỗ trong căn nhà của bạn. Nó có thể truyền tải nội dung lên các thiết bị Chromecast, cho phép bạn điều khiển bằng giọng nói khi xem phim, TV với các dịch vụ hỗ trợ.
                            </p>
                            <p class="text_post">
                                Google Home Mini hỗ trợ tất cả các tính năng của trợ lý ảo Google Assistant, đóng vai trò như một trung tâm điều khiển nhà thông minh, thiết bị giải trí, tra cứu thông tin mọi thứ… Nó gần giống như Google Home ngoại trừ chiếc loa tích hợp nhỏ hơn mà thôi.
                            </p>
                            <p class="text_post">
                                Về khả năng điều khiển nhà thông minh, Google Home Mini tương thích với rất nhiều thiết bị khác nhau, danh sách hỗ trợ vẫn đang được Google bổ sung liên tục. Để nghe nhạc, bạn có thể dùng Spotify hoặc Google Play Music, tất nhiên do loa nhỏ nên bạn không thể tận hưởng cảm xúc trọn vẹn được.
                            </p>

                            <!-- phần 2 -->
                            <p class="title_description">
                                2. Google Home
                            </p>
                            <img class="img_post" src="images/bg/bg_post_main_2.png" alt="">
                            <p class="text_post">
                                Giá: Khoảng 109$ (có thể khác tùy đợt giảm giá) <br>
                                Kích thước: 142.8 x 96.4mm, 477g<br>
                                Kết nối: Wi-Fi 802.11b/g/n/ac (2.4GHz/5Ghz)<br>
                                Audio: 2-inch speaker driver, dual 2-inch passive radiators, dual microphones with far-field voice recognition<br>
                                Định dạng âm thanh: HE-AAC, LC-AAC+, MP3, WAV, FLAC, Vorbis<br>
                                Google Assistant: khỏi cần nói nhé (Always-on/always-listening/voice-activated)<br>
                            </p>
                            <p class="text_post">
                                Google Home có kích thước hợp lý nhất trong gia đình Google, không nhỏ quá cũng không to. Google Home được sử dụng phổ biến nhất trong số 3 thiết bị nhờ sự kết hợp giữa thiết kế và tính năng của nó. Thông thường Home có giá 129$, tuy nhiên với nhiều đợt giảm giá diễn ra nên bạn có thể mua thiết bị với giá nhỏ hơn 100$. Cao hơn khá nhiều so với Google Home Mini.
                            </p>
                            <p class="text_post">
                                Google Home mang trên mình kiểu thiết kế như một luồng gió mới, hơi thon ở phía trên. Google trang bị cho Home những chiếc vỏ nhiều màu sắc để bạn có thể thay thế cho phù hợp với không gian xung quanh. Phía trên cùng của Home là bề mặt cảm ứng, có thể sử dụng để điều khiển các tính năng.
                            </p>
                            <p class="text_post">
                                Chất lượng âm thanh của Google Home khá tốt, hay hơn so với Home Mini. Tất nhiên vẫn không thể bằng được bộ loa nghe nhạc chuyên dụng rồi.
                            </p>
                            <p class="text_post">
                                Tương tự Google Home Mini, Google Home tích hợp trợ lý ảo Google Assistant và tất cả tính năng được kết nối. Do đó, nó đóng vai trò là bộ điều khiển trung tâm, nhận diện giọng nói, điều khiển các thiết bị nhà thông minh và là một thiết bị giải trí tốt.
                            </p>

                            <!-- phần 3 -->
                            <p class="title_description">
                                3. Google Home Max
                            </p>
                            <img class="img_post" src="images/bg/bg_post_main_3.png" alt="">
                            <p class="text_post">
                                Giá: Khoảng 399$ <br>
                                Kích thước: 336.6 x 190 x 154.4mm, 5.3kg<br>
                                Kết nối: Wi-Fi 802.11b/g/n/ac (2.4GHz/5Ghz), Bluetooth 4.2, Chromecast and Chromecast Audio, USB-C, 3.5mm auxiliary<br>
                                Audio: 2 x 4.5-inch dual voice coil woofers, 2 x 0.7-inch tweeters, six microphones with far-field voice recognition<br>
                                Định dạng âm thanh: HE-AAC, LC-AAC+, MP3, WAV, FLAC, Vorbis, Opus<br>
                                Bộ vi xử lý: 1.5GHz Quad-core ARM<br>
                                Google Assistant: giống 2 cái trên luôn (Always-on/always-listening/voice-activated)<br>
                            </p>
                            <p class="text_post">
                                Google Home Max, đúng như cái tên, to nhất về kích thước và âm thanh. Nó được thiết kế cho những buổi tiệc, mang đến âm thanh chất lượng cao và ầm ĩ khi cần.
                            </p>
                            <p class="text_post">
                                Mức giá cao đưa Google Home Max vào phân khúc loa thông minh cao cấp, đối thủ trực tiếp là Sonos (phổ biến bên Mỹ nhưng không được dùng nhiều ở Việt Nam).
                            </p>
                            <p class="text_post">
                                Do có kích thước to, dù đã hỗ trợ kết nối không dây rồi nhưng để tìm được một vị trí phù hợp trong căn nhà của bạn là việc khá là khó khăn. Hầu hết mọi người sẽ tìm cách đặt Home Max trong phòng khách hoặc phòng ngủ, hoặc đặt quanh nhà để thiết kế hệ thông multi-room. Home Max không thể treo được trên tường nhưng bạn lại có thể đặt nó nằm ngang hoặc thẳng đứng thoải mái.
                            </p>
                            <p class="text_post">
                                Google Home Max được tích hợp nhiều công nghệ cao cấp bên trong, bao gồm 6 microphone siêu nhạy, bề mặt cảm ứng điều khiển âm lượng, điều khiển media và một cổng USB Type-C để kết nối mạng bằng dây nếu muốn. Với 4 chiếc loa bên trong (2 x 4.5-inch woofers, 2 x 0.7-inch tweeters) và 6 Class-D amplifiers, Google Home Max mang đến chất lượng âm thanh to rõ chất lượng hơn hẳn những chiếc loa thông minh khác đang có trên thị trường.
                            </p>

                            <!-- phần 4 -->
                            <p class="title_description">
                                4. Google Nest Mini
                            </p>
                            <img class="img_post" src="images/bg/bg_post_main_4.png" alt="">
                            <p class="text_post">
                                Giá: 49$ (có thể khác tùy đợt giảm giá) <br>
                                Kích thước: 42 x 98mm, 181g<br>
                                Kết nối: 802.11b/g/n/ac (2.4GHz/5GHz), Bluetooth® 5.0, Chromecast built in<br>
                                Cảm biến: Cảm ứng điện dung ở 2 bên thành loa; 3 micro chia làm 3 hướng để thu âm lệnh điều khiển<br>
                                Micro: Micro định hướng thu âm từ khoảng cách xa<br>
                                Google Assistant: Google Assistant built in; Loa 360 độ<br>
                            </p>
                            <p class="text_post">
                                Là thành viên mới nhất trong gia đình loa thông minh của Google, được giới thiệu tại sự kiện thường niên Made by Google 2019. Loa thông minh Google Nest Mini là phiên bản nâng cấp của Google Home Mini, về mặt thiết kế thì không có nhiều sự thay đổi, tuy nhiên lại được nâng cấp về mặt âm thanh.
                            </p>
                            <p class="text_post">
                                Thiết kế Google Nest Mini vẫn giữ nguyên thiết kế của phiên bản trước đó mà không có sự thay đổi nhiều. Bên ngoại được bọc một lớp vải nhám. Mặt trên được tích hợp 4 đèn LED báo hiệu trạng thái hoạt động và âm lượng. Bên cạnh là một nút công tắc vật lý để tắt micro cùng với một cổng kết nối cáp nguồn 15W.
                            </p>
                            <p class="text_post">
                                Điểm nâng cấp nổi bật nhất trên Google Nest Mini thế hệ thứ hai đó là âm thanh đã được cải thiện hơn. Mặc dù ngoại hình không thay đổi nhiều nhưng Google Nest Mini thế hệ 2 được nâng cấp đáng kể ở chất lượng âm thanh khi có chất âm cũng như bass mạnh hơn. Bổ sung thêm Bluetooth 5.0 và kết nối wifi chuẩn 802.11AC ( Wifi 5Ghz). Đặc biệt được trang bị tới ba (03) micro tỏa ra các hướng. Để tăng cường khả năng thu nhận âm thanh ra lệnh truyền về cho trợ lý ảo. Google Nest Mini cũng được tích hợp sẵn một chip AI chuyên dụng để tương tác với người dùng tốt hơn.
                            </p>

                            <!-- phần kết luận   -->
                            <p class="title_description">
                                Kết luận
                            </p>
                            <p class="text_post">
                                Loa thông minh Google Nest Mini hỗ trợ khá nhiều ứng dụng như Spotify, Youtube, Netflix… giúp bạn thỏa sức thư giản và giải trí. Ngoài ra, với chức năng là một thành phần của nhà thông minh, Google Nest Mini có khả năng kết nối với các thiết bị của hãng khác để giúp bạn có thể điều khiển các thiết bị điện trong nhà bằng giọng nói của mình, như: Bật tắt đèn, tivi, quạt, máy lạnh…
                            </p>
                            <p class="text_post">
                                Google Home theo ý kiến cá nhân của mình là thiết bị cân bằng nhất giữa việc điều khiển nhà thông minh sử dụng Google Assistant và nhu cầu giải trí, nghe nhạc. Giá sản phẩm hơi cao, tuy nhiên bạn có thể chờ những đợt giảm giá để mua được với giá hợp lý hơn.
                            </p>
                            <p class="text_post">
                                Google Home Max, rõ ràng là chiếc loa mạnh mẽ nhất, tốt nhất, nhưng trước khi mua bạn phải cân nhắc kĩ về chi phí, cũng như vị trí đặt sao cho phù hợp.
                            </p>
                            <p class="text_post">
                                Google Home Mini / Google Nest Mini nhỏ nhắn, giá rẻ nên là một thiết bị phù hợp để bạn bước chân vào thế giới nhà thông minh, trợ lý ảo. Google Home Mini phù hợp để bạn nói chuyện với Google, hơn là dùng để nghe nhạc, giải trí.
                            </p>

                        </div>
                    </div>

                    <!-- comment -->
                    <div class="box_comment_post">
                        <div class="box_heading_comment">
                            <h2 class="">
                                <span class="number">2</span> Comment
                            </h2>
                        </div>
                        <div class="box_comment_you">
                            <p class="title">Bình luận của bạn</p>
                            <form action="#" class="form_comment">
                                <textarea class="textarea_box" placeholder="Mời bạn để lại bình luận" name="" id="" cols="20" rows="6"></textarea>
                                <input type="submit" class="btn_submit" value="Gửi">
                            </form>
                        </div>
                    </div>

                  </div>
              </div>
              <div class="col-md-4">
                  <div class="box_right">

                      <!-- phần danh mục -->
                    <div class="box_danh_muc">
                        <div class="box_heading">
                            <h2 class="title">DANH MỤC</h2>
                        </div>
                        <ul class="list_danh_muc">
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tin Tức Mới Nhất </span>
                                        <span class="number">(20)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Công nghệ AI Trong Home </span>
                                        <span class="number">(10)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tình Hình Covid-19 </span>
                                        <span class="number">(NEW)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Dịch Vụ Dùng Thử </span>
                                        <span class="number">(23)</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- phần bản tin mới -->
                    <div class="box_news">
                        <div class="box_heading">
                            <h2 class="title">Bản Tin Mới</h2>
                            <h2 class="title">Phổ Biến</h2>
                        </div>
                        <ul class="list_main_news">

                            <!-- news 1 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 2 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 3 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 4 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 5 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Thông tin nổi bật( tình hình covid ) -->
                    <div class="box_new_hot">
                        <div class="box_heading">
                            <h2 class="title">TÌNH HÌNH COVID - 19 TẠI VIỆT NAM</h2>
                        </div>
                        <div class="box_content_hot_new">
                            <div class="box_hot_new_heading">
                                <div class="box_heading--inf box_heading--left">
                                    <p class="title_heading">Công bố hôm qua</p>
                                    <p class="parameter_heading parameter_heading--1">+13.01</p>
                                </div>
                                <div class="box_heading--inf box_heading--right">
                                    <p class="title_heading">Tổng nhiễm</p>
                                    <p class="parameter_heading parameter_heading--2" >520.014</p>
                                </div>
                            </div>
                            
                            <div class="box_hot_new_body">
                                <div class="box_hot_new_body--heading">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_heading">
                                                <p class="title">Tỉnh</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_heading">
                                                <p class="title">Công bố tất cả</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_heading">
                                                <p class="title">Tổng</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 1-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Đồng Nai</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+1.23</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">28.59</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 2-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Long An</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+756</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">25.085</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 3-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Kiên Giang</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+345</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">2.162</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 2-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Khánh hòa</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+100</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="box_hot_new_footer">
                                <p class="date_time">
                                    Cập nhật: <span class="date">18:30, 5/9</span>
                                </p>
                                <a href="#" class="btn_xem_them">Xem Thêm</a>
                            </div>

                        </div>
                    </div>

                    <!-- phần danh sách sản phẩm -->
                    <div class="box_list_product">
                        <div class="box_heading">
                            <h2 class="title">DANH SÁCH SẢN PHẨM</h2>
                        </div>
                        <div class="box_content_list_product">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-1.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-2.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-1.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-2.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-1.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-2.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>