<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Nhà thông minh dần phổ biến trong các gia đình Việt"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')
  <section class="section_content--postMain">
      <div class="container_edit--page--1240">
          <div class="row">
              <div class="col-md-7">
                  <div class="box_left"></div>
              </div>
              <div class="col-md-5">
                  <div class="box_right">
                      
                      <!-- phần danh mục -->
                    <div class="box_danh_muc">
                        <div class="box_heading">
                            <h2 class="title">DANH MỤC</h2>
                        </div>
                        <ul class="list_danh_muc">
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tin Tức Mới Nhất </span>
                                        <span class="number">(20)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Công nghệ AI Trong Home </span>
                                        <span class="number">(10)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tình Hình Covid-19 </span>
                                        <span class="number">(NEW)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Dịch Vụ Dùng Thử </span>
                                        <span class="number">(23)</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- phần bản tin mới -->
                    <div class="box_news">
                        <div class="box_heading">
                            <h2 class="title">Bản Tin Mới</h2>
                            <h2 class="title">Phổ Biến</h2>
                        </div>
                        <ul class="list_main_news">

                            <!-- news 1 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 2 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 3 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 4 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 5 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Thông tin nổi bật( tình hình covid ) -->
                    <div class="box_new_hot">
                        <div class="box_heading">
                            <h2 class="title">TÌNH HÌNH COVID - 19 TẠI VIỆT NAM</h2>
                        </div>
                        <div class="box_content_hot_new">
                            <div class="box_hot_new_heading">
                                <div class="box_heading--inf box_heading--left">
                                    <p class="title_heading">Công bố hôm qua</p>
                                    <p class="parameter_heading parameter_heading--1">+13.01</p>
                                </div>
                                <div class="box_heading--inf box_heading--right">
                                    <p class="title_heading">Tổng nhiễm</p>
                                    <p class="parameter_heading parameter_heading--2" >520.014</p>
                                </div>
                            </div>
                            
                            <div class="box_hot_new_body">
                                <div class="box_hot_new_body--heading">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_heading">
                                                <p class="title">Tỉnh</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_heading">
                                                <p class="title">Công bố tất cả</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_heading">
                                                <p class="title">Tổng</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 1-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Đồng Nai</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+1.23</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">28.59</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 2-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Long An</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+756</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">25.085</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 3-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Kiên Giang</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+345</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">2.162</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- tỉnh 2-->
                                <div class="box_hot_new_body--province">
                                    <div class="box_main_layout">
                                        <div class="item_layout flex--2">
                                            <div class="box_item_province">
                                                <p class="title_province">Khánh hòa</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="number_puss">+100</p>
                                            </div>
                                        </div>
                                        <div class="item_layout flex--1">
                                            <div class="box_item_province">
                                                <p class="total">500</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="box_hot_new_footer">
                                <p class="date_time">
                                    Cập nhật: <span class="date">18:30, 5/9</span>
                                </p>
                                <a href="#" class="btn_xem_them">Xem Thêm</a>
                            </div>

                        </div>
                    </div>

                    <!-- phần danh sách sản phẩm -->
                    <div class="box_list_product">
                        <div class="box_heading">
                            <h2 class="title">DANH SÁCH SẢN PHẨM</h2>
                        </div>
                        <div class="box_content_list_product">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-1.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            <a href="#" class="btn_xen">Xem ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-2.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            <a href="#" class="btn_xen">Xem ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-1.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            <a href="#" class="btn_xen">Xem ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box_item_product">
                                        <div class="box_img">
                                            <img src="images/sanPham/bg_index-sp-st2-2.png" alt="">
                                        </div>
                                        <div class="box_text_main">
                                            <p class="title">Cảm biến nhiệt độ, độ ẩm</p>
                                            <a href="#" class="btn_xen">Xem ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>