<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Tin tức"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')

  <section class="section_content--tin_tuc">
      <div class="container_edit--page--1240">
          <section class="section_1">
              <div class="row">
                  <div class="col-md-8">1</div>
                  <div class="col-md-4">2</div>
              </div>
          </section>
      </div>
  </section>

  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>