<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Tin tức"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')

  <section class="section_content--tin_tuc">
      <div class="container_edit--page--1240">
        <div class="box_main_head_post">
            <div class="row">
                <div class="col-md-7">
                    <div class="head_post--left">
                        <a href="#" class="link_section">
                            <section class="section_main_post">
                                <div class="box_img_post_main">
                                    <img src="images/bg/img_posts_news.png" alt="">
                                </div>
                                <div class="box_text_title">
                                    <h2>Nhà thông minh dần phổ biến trong các gia đình Việt</h2>
                                </div>
                            </section>
                        </a>
                    </div>
                    <div class="head_post--right">
                        <div class="row row_edit">
                            <div class="col-md-6">
                                <div class="box_main_col_left">
                                    <p class="title">Tương lai của smart home</p>
                                    <div class="box_img">
                                        <img src="../../images/bg/img_post_main_left_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box_main_col_left">
                                    <p class="title">Tương lai của smart home</p>
                                    <div class="box_img">
                                        <img src="../../images/bg/img_post_main_left_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="box_main_left">
            
                    <div class="box_main_news_post">
                        <div class="box_heading">
                            <h2 class="title">Blog, Tin tức</h2>
                        </div>

                        <div class="box_list_post">
                            
                            <!-- post 1 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="box_main_right">
                </div>
            </div>
        </div>
      </div>
  </section>

  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>