<html lang="vi">

<head>
  <!-- include head.html -->
  @@include('../parts/head.html', {
  "title": "Tin tức"
  })
  <!-- include styles.html -->
  @@include('../parts/styles.html')
</head>

<body class="wrapper">
  @@include('../parts/header.html')

  <section class="section_content--tin_tuc">
      <div class="container_edit--page--1240">
        <div class="box_main_head_post">
            <div class="row">
                <div class="col-md-7">
                    <div class="head_post--left">
                        <a href="#" class="link_section">
                            <section class="section_main_post">
                                <div class="box_img_post_main">
                                    <img src="images/bg/img_posts_news.png" alt="">
                                </div>
                                <div class="box_text_title">
                                    <h2>Nhà thông minh dần phổ biến trong các gia đình Việt</h2>
                                </div>
                            </section>
                        </a>
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="head_post--right">
                        <div class="row row_edit">
                            <div class="col-md-6 col-md-6_edit">
                                <a href="#">
                                    <div class="box_main_col_left">
                                        <p class="title">Tương lai của smart home</p>
                                        <div class="box_img">
                                            <img src="images/bg/bg_post-2.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-md-6_edit">
                                <a href="#">
                                    <div class="box_main_col_left">
                                        <p class="title">Trợ lý ảo Alexa có thể làm gì ?</p>
                                        <div class="box_img">
                                            <img src="images/bg/img_posts_news-2.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="box_main_left">
    
                    <div class="box_main_news_post">
                        <div class="box_heading">
                            <h2 class="title">Blog, Tin tức</h2>
                        </div>

                        <div class="box_list_post">
                            
                            <!-- post 1 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_1.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- post 2 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_2.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- post 3 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_3.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- post 4 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_4.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- post 5 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_5.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- post 6 -->
                            <div class="box_post">
                                <div class="box_main_layout_post">
                                    <div class="box_heading_title">
                                        <a href="#">
                                            <h2>Lệnh điều khiển điều hòa bằng giọng nói với Broadlink</h2>
                                        </a>
                                        <p class="time_post">
                                            POSTED ON 8 THÁNG TƯ, 2020 
                                        </p>
                                    </div>
                                    <div class="item_content_post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="box_img--post">
                                                    <img src="images/bg/img_post_list_6.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="box_text--post">
                                                    <p class="tex_1">Broadlink khi kết hợp với Google Home Mini hoặc Amazon Echo Dot sẽ tạo thành bộ đôi sản phẩm tuyệt vời cho những người muốn trải nghiệm smart home với chi phí tiết kiệm.</p>
                                                    <p class="tex_2">Broadlink hiện có 2 phiên bản trung tâm điều khiển nhà thông minh là Broadlink RM Pro+ và Broadlink RM Mini 3, cả 2 khác biệt nhau một chút</p>
                                                    <a href="#" class="btn_xemThem">Xem Thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- phần trang -->
                    <ul class="phan_trang--ul">
                        <a href="#"><li class="phan-tran--li">1</li></a>
                        <a href="#"><li class="phan-tran--li">2</li></a>
                        <a href="#"><li class="phan-tran--li">2</li></a>
                        <a href="#"><li class="phan-tran--li">4</li></a>
                        <a href="#"><li class="phan-tran--li">></li></a>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-5">
                <div class="box_main_right">
                    
                    <!-- phần danh mục -->
                    <div class="box_danh_muc">
                        <div class="box_heading">
                            <h2 class="title">DANH MỤC</h2>
                        </div>
                        <ul class="list_danh_muc">
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tin Tức Mới Nhất </span>
                                        <span class="number">(20)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Công nghệ AI Trong Home </span>
                                        <span class="number">(10)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Tình Hình Covid-19 </span>
                                        <span class="number">(NEW)</span>
                                    </p>
                                </a>
                            </li>
                            <li class="item_danh_muc">
                                <a href="#" class="link_item">
                                    <p class="danh_muc_content">
                                        <span class="name">Dịch Vụ Dùng Thử </span>
                                        <span class="number">(23)</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- phần bản tin mới -->
                    <div class="box_news">
                        <div class="box_heading">
                            <h2 class="title">Bản Tin Mới</h2>
                            <h2 class="title">Phổ Biến</h2>
                        </div>
                        <ul class="list_main_news">

                            <!-- news 1 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 2 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 3 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 4 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- news 5 -->
                            <li class="item_news">
                                <a href="#" class="link_news">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="box_contant_img">
                                                <img src="images/bg/img_tin_moi_3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="box_news_content">
                                                <p class="time">11-11-2021 17:10:32</p>
                                                <h2 class="title">3 tình huống ngoài ý muốn khi dùng smart home</h2>
                                                <p class="description">
                                                    Nhiều người thích trải nghiệm sớm các công nghệ như smart home, nhưng do sự mới mẻ, nó cũng có thể gây ra một vài rắc rối. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Thông tin nổi bật( tình hình covid ) -->
                    <div class="box_new_hot">
                        <div class="box_heading">
                            <h2 class="title">TÌNH HÌNH COVID - 19 TẠI VIỆT NAM</h2>
                        </div>
                        <div class="box_content_hot_new">
                            <div class="box_heading">
                                <div class="box_heading--left"></div>
                                <div class="box_heading--right"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
  </section>

  @@include('../parts/footer.html')

  <!-- include scripts.html -->
  @@include('../parts/scripts.html')
</body>

</html>