/**
*================================================================================================
*Trang index 
*================================================================================================
*/

.section_content--index{
    .section_1{
        width: 100%;
        height: 640px;
        background-image: url(../images/bg/bg_index-1.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        .box_content_main{
            padding-top: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .title{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                @include font_size(12);
                font-weight: bold;
                color: #fff;
                padding: 6px 22px;
                background-color: #2E2E2E;
                border-radius: 8px;
                margin-bottom: 14px;
            }
            .main_title{
                @include font_size(30);
                font-weight: bold;
                color: #0D87A0;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom:10px;
            }
            .description{
                @include font_size(14);
                color: #414141;
                margin-bottom:43px;
            }
            .btn_xem-ngay{
                padding: 20px 52px;
                @include font_size(20);
                color: #fff;
                text-decoration: none;
                background-color: #408493;
                border-radius: 4px;
                transition: all 0.7s ease-in-out 0s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .section_2{
        padding: 70px 0;
        .box_main_st_2{
            .box_heading{
                text-align: center;
                .title{
                    @include font_size(36);
                    font-weight: 500;
                    color: #377482;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-bottom:10px;
                }
                .description{
                    @include font_size(18px);
                    font-weight:500;
                    color: #979696
                }
            }
            .box_content{
                padding-top: 28px;
                .item_content-1{
                    .box_bg_1{
                        background-image: url(../images/sanPham/bg_index-sp-st2-1.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
        }
    }

}