/**
*================================================================================================
*Trang POST MAIN
*================================================================================================
*/

.section_content--postMain{
    padding: 80px 0;
    a{
        display: block;
        text-decoration: none;
    }
    .box_left{
        .list_path{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            .item_path{
                margin-right: 12px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 16px;
                    background-color: #47809F;
                    right:-6px;
                    top: -1px;
                    transform: rotate(10deg);
                }
                &:last-child{
                    margin-right: 0;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;  
                    }
                }
                a{
                    text-decoration: none;
                    @include font_size(16);
                    font-weight: bold;
                    color: #47809F;
                }
            }
        }
        .box_main_post{
            .box_title_main{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom:20px;
                .title_main_post{
                    margin-right: 30px;
                    @include font_size(30);
                    font-weight: bold;
                    color: #47809F;
                    line-height: 1.2
                }
                .author{
                    @include font_size(14);
                    font-weight: bold;
                    color: #989898;
                }
            }
            .box_main_content{
                padding-bottom: 30px;
                margin-bottom: 30px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #47809F;
                }
                .img_post{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
                .text_post{
                    @include font_size(18);
                    line-height:1.4;
                    color: rgba(0,0,0,0.6);
                    margin-bottom: 20px;
                }
                .title_description{
                    @include font_size(20);
                    font-weight: bold;
                    color: #47809F;
                    margin-bottom: 20px;
                }
            }
            
        }
        .box_comment_post{
            .box_heading_comment{
                margin-bottom: 20px;
                h2{
                    @include font_size(24);
                    font-weight: bold;
                    color: #47809F;
                }
            }
            .box_comment_you{
                .title{
                    @include font_size(16);
                    color: #47809F;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .form_comment{
                    position: relative;
                    .textarea_box{
                        resize: none;
                        width: 100%;
                        background-color:#f3f5f8;
                        box-sizing: border-box;
                        padding: 20px;
                        border-radius:5px;
                        border: 3px solid transparent;
                        outline: none;  
                        &:hover {
                            border: 3px solid #47809F;
                        }
                    }
                    .btn_submit{
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        padding: 10px 20px;
                        background-color: #47809F;
                        outline: none;
                        border: none;
                        border-radius: 36px;
                        @include font_size(16);
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }
    }
    .box_right{
        .box_danh_muc{
            margin-bottom:30px ;
            .box_heading{
                margin-bottom: 24px;
                display: inline-block;
                h2{
                    @include font_size(24);
                    font-weight: bold;
                    color:#47809F;
                    padding-bottom: 8px;
                    margin-bottom:8px;
                    position: relative;
                    display: block;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #47809F;
                        border-radius: 36px;
                    }
                }
                
            }
            .list_danh_muc{
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                .item_danh_muc{
                    margin-bottom:24px;
                    padding: 10px 0 5px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #000;
                        bottom: 0;
                        left: 0;
                    }
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(165, 206, 245);
                    }
                    .link_item{
                        display: block;
                        .danh_muc_content{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            color: #000;
                            @include font_size(18);
                            
                        }
                    }
                }
            }
        }

        .box_news{
            margin-bottom:30px ;
            .box_heading{
                margin-bottom: 24px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                h2{
                    @include font_size(24);
                    font-weight: bold;
                    color:#47809F;
                    padding-bottom: 8px;
                    margin-bottom:8px;
                    position: relative;
                    display: block;
                    margin-right: 20px;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #47809F;
                        border-radius: 36px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
            .list_main_news{
                .item_news{
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #000;
                        bottom: 0;
                        left: 0;
                    }
                    &:hover{
                        .link_news{
                            .box_news_content{
                                .title{
                                    color: #47809F;
                                } 
                             }
                        }
                    }
                    .link_news{
                        display: block;
                        .box_contant_img{
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;   
                            }
                        }
                        .box_news_content{
                            .time{
                                @include font_size(14);
                                font-weight: 300;
                                color: #797676;
                                margin-bottom:6px;
                            }
                            .title{
                                @include font_size(18);
                                color: #000000;
                                font-weight: bold;
                                margin-bottom:6px;
                                transition: 0.3s;
                            }
                            .description{
                                @include font_size(16);
                                font-weight: 300;
                                color: #797676;
                                line-height: 1.4;
                            }
                        }
                    }
                }
            }
        }

        .box_new_hot{
            margin-bottom:30px ;
            .box_heading{
                margin-bottom: 24px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                h2{
                    @include font_size(24);
                    font-weight: bold;
                    color:#47809F;
                    padding-bottom: 8px;
                    margin-bottom:8px;
                    position: relative;
                    display: block;
                    margin-right: 20px;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #47809F;
                        border-radius: 36px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
            .box_content_hot_new{
                .box_hot_new_heading{
                    display: flex;
                    flex-direction: row;
                    justify-content:space-between;
                    align-items:center;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #47809F;
                    }
                    .box_heading--inf{
                        .title_heading{
                            @include font_size(18);
                            color: rgba(0,0,0,0.6);
                            margin-bottom: 10px;
                        }
                        .parameter_heading{
                            @include font_size(35);
                            font-weight:bold;
                            &--1{
                                color: red;
                            }
                            &--2{
                                color: #000;
                            }
                        }
                    }
                }
                .box_hot_new_body{
                    .box_main_layout{
                        display: flex;
                        flex-direction: row;
                        margin-left: -10px;
                        margin-right: -10px;
                        .item_layout{
                            padding-left: 10px;
                            padding-right: 10px;
                            &.flex--2{
                                flex: 2;
                            }
                            &.flex--1{
                                flex: 1;
                            }
                        }
                    }
                    .box_hot_new_body--heading{
                        margin-bottom: 15px;
                        .box_item_heading{
                            // text-align: center;
                            .title{
                                @include font_size(18);
                                color: rgba(0,0,0,0.6);
                            }
                        }
                    }
                    .box_hot_new_body--province{
                        margin-bottom: 15px;
                        .box_item_province{
                            text-align: start;
                            @include font_size(18);
                            .title_province{
                                color: rgba(0,0,0,0.9)
                            }
                            .number_puss{
                                color: #000;
                                font-weight: bold;
                            }
                            .total{
                                color: rgba(0,0,0,0.9)
                            }
                        }
                    }
                }
                .box_hot_new_footer{
                    padding: 25px 0;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(0,0,0,0.5)
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .date_time{
                        color:  rgba(0,0,0,0.6);
                    }
                    .btn_xem_them{
                        text-decoration: none;
                    }
                }
            }
        }

        .box_list_product{
            // margin-bottom:30px ;
            .box_heading{
                margin-bottom: 24px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                h2{
                    @include font_size(24);
                    font-weight: bold;
                    color:#47809F;
                    padding-bottom: 8px;
                    margin-bottom:8px;
                    position: relative;
                    display: block;
                    margin-right: 20px;
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #47809F;
                        border-radius: 36px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                
            }
            .box_content_list_product{
                .box_item_product{
                    padding: 10px;
                    margin-bottom:30px;
                    border: 1px solid rgba(0,0,0,0.5);
                    .box_img{
                        margin-bottom:10px;
                        img{
                            width: 100%;
                            height: 110px;
                            object-fit: cover;
                        }
                    }
                    .box_text_main{
                        text-align: center;
                        .title{
                            @include font_size(18);
                            color: #47809F;
                            font-weight: bold;
                            margin-bottom: 6px;
                        }
                        .btn_xen{
                            width: 100%;
                            padding: 12px 0;
                            background-color: #47809F;
                            text-decoration: none;
                            @include font_size(16);
                            font-weight: bold;
                            color: #fff;
                            transition: 0.3s;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}